.card-movies-btn{
    width: 100%;
    padding: .75vw;
    font-size:1.1vw;
}

.info-btn {
    background-color: #CCC9C9;
    color: #071B1B;
    border: solid .1vw #071B1B; 
}

.watch-btn {
    background-color: #071B1B; 
    border:none;
    color:#CCC9C9;
}
