.info-movie {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100vh; 
    overflow: auto; 
    background-color: #071B1B; 
    transition: opacity 500ms ease-in;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
}

.modal-showing {
    display: block;
    transition: opacity 500ms ease-in;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
}

.info-content {
    background-color: #FFFFFFAA;
    margin: 5vw auto 5vw; 
    padding: 20px;
    border: 1px solid #888;
    width: 70%; 
    height: 70%;
    border-radius: .5vw;
    align-items: center;
}

#movie-title {
    color: #071B1B;
    text-align: center;
    font-size: 3vw;
    margin-bottom: 1.5vw;
}

.info-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 3vw;
}

.info-img {
    width: 45%;
    height: 82%;
    background-position: cover;
    background-repeat: no-repeat;
    float: right;
}

.info-text {
    width: 45%;
    height: 62%;
    text-align: justify;
    line-height: 1.5;
    font-size: 1.4vw;
    margin-bottom: 1vw;
}

.modal-btns {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.modal-btn {
    width: 11vw;
    padding: .75vw;
    font-size:1.1vw;
    background-color: #071B1B;
    color: #FFFC;
}